<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Percy Jackson Va Dengiz Maxluqlari</title>
    <style>
        body{
            height: 100%;
            background-image: url("../videos/photo_2024-10-16_23-13-45.jpg");
            background-size: 100%;
        }
    </style>
</head>
<body>
    <center>
        <Video controls autoplay height="710px" style="top: 10px; bottom: 10px;">
            <source src='{{url}}' type="video/mp4">
        </Video>
    </center>
</body>
</html>